@import "tailwindcss";

:root {
  --background: radial-gradient(circle at top center,
      #1f3b4d 0%,
      #132c3a 35%,
      #0b1f2b 65%,
      #081722 100%);
  --foreground: #000000;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Oswald;
  display: flex;
  flex-direction: column;
}


.main {
  flex: 1;
  min-height: 100vh;
}


h1,
h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

h3 {
  font-weight: bold;
  color: rgb(255, 255, 255);
}